<section class="container">

<!--  route -->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="report">Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="report/breadcrumb-test">Test Breadcrumb</a>
    </li>
  </ul>

  <!-- breadcrumb -->
  <breadcrumb #parent>
    <ol class="breadcrumb">
      <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
        <li *ngIf="!route.terminal" class="breadcrumb-item">
          <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
        </li>
        <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
      </ng-template>
    </ol>
  </breadcrumb>

</section>

<router-outlet></router-outlet>
